/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* General */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

footer {
  /* padding: 5vh 5vw 5vh 5vw; */
  display: flex;
  justify-content: space-between;
}

/* main {
  padding-top: 100px;
} */

main section {
    padding: 20px 0 20px 0;
}

/* Classes */

/* .picture-container {

} */

.profile-pic {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.50);
  /* background-color: #2d0052; */
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.header-bar {
  width: 100vw;
  height: 100px;
  background-color: #1b4a16;
  /* padding: 5vh 5vw 5vh 5vw; */
}

.nav-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.hero-heading {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.hero-section {
  margin: auto;
  background-image: url("./assets/pexels-danielabsi-952670.jpg");
  background-size: cover;
}

.hero-container {
  animation: fadeIn 1s ease-in-out;
}

.hero-about-me {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 400;
}

/* .three-js-container {
  display: inline !important;
  width: 100%;
  height: 100%;
} */

/* Utility Classes */

.adjustable-padding {
  padding: 5vh 5vw 5vh 5vw;
}

.min-height {
  min-height: 100vh;
  width: 100vw;
}

.invisible {
  opacity: 0;
}

.animate-on-scroll {
  animation: fadeIn 5s ease-in-out forwards;
}


/* Media Queries */